<ion-view view-title="About Chruch">
    <ion-content>
	<br>
      <div> 
	  <center>
	  <!------------------------Put your college college name and icon here------------------------------->
	  <img <br>
	  <img src="img/logo.jpg" height="129" width="129">
	  </center>
		</div>
		<div class="list">
		<center>
		<p>A little introduction of our chruch<p>
		</center>
		</div>
		<div class="card">
		<center>
		<h4><font color="green"><i class="icon ion-arrow-shrink"></i>Promise of this Year</font></h4>
		<p>Be successful</p>
		<p>Be Fruitful</p>
		</center>
		</div>
		<div class="card">
		<center>
		<h4><font color="green"><i class="icon ion-arrow-shrink"></i> Vision</font></h4>
		<p>Making people successful and fruitful </p>
		</center>
		</div>
		<div class="card">
		<center>
		<h4><font color="green"><i class="icon ion-arrow-shrink"></i> Mission</font></h4>
		<b><p>Raising matured disciples and quality leaders through preaching the good news of Jesus christ and bringing the people into fellowship and helping them to worship god and to grow in the word of god...</p></b>
		</center>
		</div>
    </ion-content>
</ion-view>
